html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-style: normal;
  font-size: 14px;
  color: #3B506C;
  font-family: "Poppins";
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  body {
    font-size: 12px;
  }
}

button[type=button] {
  position: absolute;
  height: 24px;
  background-color: transparent;
  border: none;
  right: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.for_mobile {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
  color: #ffffff;
  border: none;
  padding-bottom: 14px;
  padding-top: 14px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.37;
}
@media screen and (min-width: 480px) {
  .for_mobile {
    display: none;
  }
}
.for_mobile[disabled=false] {
  background: rgba(59, 80, 108, 0.5);
}
.for_mobile[disabled=true] {
  background: #3B506C;
}

.for_laptop {
  display: none;
}
@media screen and (min-width: 480px) {
  .for_laptop {
    cursor: pointer;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 100%;
    color: #ffffff;
    border: none;
    padding-bottom: 14px;
    padding-top: 14px;
    border-radius: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.37;
  }
  .for_laptop:disabled {
    background: rgba(59, 80, 108, 0.5);
  }
  .for_laptop:enabled {
    background: #3B506C;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 278px;
    height: auto;
  }
}
.container:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 33.3333333333%;
  height: 4px;
  border-radius: 2px;
  background: #000000;
}
@media screen and (min-width: 480px) {
  .container:before {
    display: none;
  }
}
.container .create_one {
  text-align: center;
  font-family: "Microsoft Sans Serif";
}
.container b {
  display: block;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.container a {
  font-size: 14px;
  line-height: 1.1;
  color: #14A2E2;
  text-decoration: none;
  font-family: "Microsoft Sans Serif";
  cursor: pointer;
}
.container a:focus {
  outline: none;
  text-decoration: underline;
}

.form_mail, .form_password {
  position: relative;
  text-align: center;
  margin-top: 62px;
}
.form_mail + p, .form_password + p {
  font-size: 10px;
  line-height: 1.1;
  color: #DB6B83;
  padding-top: 4px;
}
.form_mail input, .form_password input {
  background: #FCFCFC;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38px;
  color: #3B506C;
  outline: none;
}
@media screen and (min-width: 480px) {
  .form_mail input, .form_password input {
    padding-bottom: 6px;
    padding-top: 6px;
  }
}
.form_mail input:focus, .form_password input:focus {
  border: 1px solid #DB6B83;
}
.form_mail label, .form_password label {
  position: absolute;
  top: -24px;
  left: 0;
  line-height: 1.5;
}

input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  position: absolute;
}
input[type=checkbox]:focus + label:before {
  border: 2px solid #DB6B83;
}
input[type=checkbox]:checked + label:before {
  background-image: url(../svg/check.svg);
  background-size: cover;
  border: none;
}

.about_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}
.about_password label {
  padding-left: 32px;
  position: relative;
}
.about_password label:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #E7E7E7;
  border-radius: 3px;
}
@media screen and (min-width: 480px) {
  .about_password label:before {
    width: 16px;
    height: 16px;
  }
}/*# sourceMappingURL=main.css.map */